# Ambientes Virtuais Python
venv/
.venv/
env/
old/
codigo_ignorado/

# Arquivos de Cache e Compilados (Python)
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdf
*.py
*.python-version
*.toml
*.lock


# Artefatos de compilação do Rust
/target/

# Variáveis de Ambiente / Segredos
.env

# Configurações de IDEs e Editores (VS Code, PyCharm, etc)
.vscode/
.idea/

# Arquivos Ocultos de Sistema Operacional
.DS_Store
Thumbs.db
